<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		// build:css css/main.min.css
		// bower:css
		// endbower
		link(rel="stylesheet", href="css/main.min.css")
		// endbuild
		link(rel="icon", href="img/favicon.ico")
		title Document
body

	// build:js js/main.min.js
	// bower:js
	// endbower
	script(src="js/main.js")
	// endbuild
